.homepage{
  margin-left:75px;
  margin-right:auto;
  height:auto;
  width:auto;
}
.work{
  height:auto;
  width:1320px;
}
.happyhour{
  height:auto;
  width:1320px;
}
.weekend{
  height:auto;
  width:1320px;
}
